.s-asym {
  padding-top: 96px;
  padding-bottom: 88px;

  &__container {
    @include container;
    display: flex;
    flex-wrap: wrap;
  }

  &__nav {
    flex: 0 1 24%;
    padding-right: 57px;
  }

  &__content {
    flex: 0 1 65%;
    padding-left: 57px;
  }

  &__contacts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__connect {
    flex: 0 1 640px;
    padding-top: 20px;
    margin-left: 29%;

    &-title {
      text-align: center;
      margin-bottom: 54px;
    }
  }

  @include media-breakpoint-up (lg) {
    &--termsPrivacy {
      .el-title {
        margin-top: 10px;
      }
    }
  }

  @include media-breakpoint-down (md) {
    padding-top: 100px;
    padding-bottom: 92px;
    overflow: hidden;

    &--contacts {
      padding-bottom: 0;
    }

    &__nav {
      min-width: 228px;
      padding-right: 16px;
    }

    &__content {
      padding-left: 16px;
      flex: 0 1 69%;
    }

    &__title {
      font-size: 32px;
      line-height: 38px;
    }

    &__connect {
      padding: 4px 16px 96px;
      margin-top: 90px;
      margin-left: 0;
      flex: none;
      width: 100vw;
      background-color: $c-cream-bg;
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  @include media-breakpoint-down (sm) {
    padding-top: 0;
    padding-bottom: 57px;
    background-color: $c-cream-bg;

    &__container {
      flex-wrap: wrap;
    }

    &__nav {
      flex: 0 1 100%;
      min-width: none;
      padding-right: 0;
      margin-bottom: 37px;
    }

    &__content {
      flex: 0 1 100%;
      padding-left: 0;
    }

    &__title {
      font-size: 26px;
      line-height: 32px;
    }

    &__connect {
      margin-top: 52px;

      &-title {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }
    }

    &--contacts {
      padding-bottom: 0;
    }

    &--no-bg {
      background-color: transparent;
    }
  }

  @include media-breakpoint-only (md) {
    &--termsPrivacy {
      margin-bottom: 10px;
    }
  }
}
