.s-sign-up {
  background-color: $c-blue-bg;
  background-image: url(../images/house@2x_blog.png);
  background-position: 50% 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 42px 0 47px;
  text-align: center;

  &__container {
    @include container;
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    margin-bottom: 29px;
    p {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      color: $c-text-gray;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  @media (min-width: ($md + 1)) {
    padding: 67px 0 66px;

    &__title {
      max-width: 625px;
    }

    &__text {
      margin-bottom: 21px;

      p {
        max-width: 433px;
      }
    }
  }

  @media (min-width: ($lg + 1)) {
    padding: 57px 0 64px;
  }

  @media (max-width: $md) {
    background-image: url(../images/house@2x_blog_m.png);
    background-position: 50% 0;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &__title {
      margin-bottom: 12px;
      max-width: 258px;
    }

    &__text {
      p {
        max-width: 273px;
      }
    }
  }
}
