.s-lookbook {
  overflow: hidden;
  
  &__title {
    margin-bottom: 44px;
    text-align: center;
  }

  &__container {
    @include container;
    padding-top: $s-section-offset-y;
    padding-bottom: $s-section-offset-y;
    // border-bottom: 1px solid $c-separator;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -48px;
    margin-left: -56px;
    margin-top: 0;
    padding-left: 120px;
    padding-right: 174px;
  }

  &__item {
    text-align: center;
    margin-bottom: 48px;
    margin-left: 56px;
    flex-basis: 26.8%;

    &-link {
      display: block;
      text-decoration: none;
      outline: none;
    }

    &-link:focus &-title {
      outline: none;
      color: $c-text-gray;
      border-color: $c-text-blue;
      background-color: rgba(70, 187, 196, 0.16);
    }

    &-link:hover &-title {
      color: $c-text-gray;
    }

    &-link:active &-title {
      color: $c-text-blue;
      background-color: rgba(70, 187, 196, 0.16);
      text-decoration: underline;
      border-color: transparent;
    }

    &-pic {
      position: relative;
      margin-bottom: 24px;

      &::before {
        content: "";
        display: block;
        padding-top: 52.17%;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }

    &-title {
      margin: 0;
      font-size: $fs-head;
      color: $c-text-blue;
      opacity: 0.89;
      font-weight: 600;
      border: 1px dashed transparent;
      transition: color $t-time1 ease-out, border-color $t-time1 ease-out, background-color $t-time1 ease-out,
        text-decoration $t-time1 ease-out;
    }
  }

  @include media-breakpoint-down(md) {
    &__list {
      justify-content: space-between;
      padding: 0;
      max-width: 520px;
      margin: 0 auto -48px;
    }

    &__item {
      flex-basis: 44.3%;
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__container {
      padding-top: $s-section-offset-y--sm;
      padding-bottom: $s-section-offset-y--sm;
    }

    &__list {
      max-width: 230px;
    }

    &__item {
      flex-basis: 100%;
    }
  }
}
