<div class="blog-subscribe">
    <h2 class="blog-subscribe__title">Get all the latest articles and information via email:</h2>
    <form class="blog-subscribe__form">

        <div class="c-input-group c-input-group_required">
            <label for="cFname" class="c-label">First Name</label>
            <input id="cFname" type="text" class="c-inp" required>
        </div>
        <div class="c-input-group c-input-group_required">
            <label for="cLname" class="c-label">Last Name</label>
            <input id="cLname" type="text" class="c-inp" required>
        </div>
        <div class="c-input-group c-input-group_required">
            <label for="cEmail" class="c-label">Email Address</label>
            <input id="cEmail" type="email" class="c-inp" required>
        </div>

        <button class="btn btn--lg" type="submit">Subscribe</button>
    </form>

</div>