<!--
  markup of article callouts
  3 types
 -->
<div class="a-callout a-callout_1">
  <h3 class="a-callout__title">Ready to start managing your properties properly?</h3>
  <p class="a-callout__text">Sign up is completely free and you can be up and running in minutes.</p>
  <a href="#" class="btn btn--lg">Sign up for Free</a>
</div>

<div class="a-callout a-callout_2">
  <h3 class="a-callout__title">Interested in ManageCasa’s great features?</h3>
  <p class="a-callout__text">Try them out right now for free.</p>
  <a href="#" class="btn btn--lg">Create a Free Account</a>
</div>

<div class="a-callout a-callout_3">
  <h3 class="a-callout__title">Ready to make ManageCasa your new property management home?</h3>
  <p class="a-callout__text">No obligations, sign up for free.</p>
  <a href="#" class="btn btn--lg">Join ManageCasa</a>
</div>