<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      
      <div class="footer-prim">
        <!-- Product column -->
        <div class="footer-prim-col">
          <h4 class="footer-prim-col__title">Product</h4>
          <a href="" class="footer__link">Product Overview</a>
          <a href="" class="footer__link">Owners</a>
          <a href="" class="footer__link">Tenants & Leasing</a>
          <a href="" class="footer__link">Accounting & Reports</a>
          <a href="" class="footer__link">Maintenance</a>
          <a href="" class="footer__link">File Storage</a>
          <a href="" class="footer__link">Maintenance</a>
          <a href="" class="footer__link">Pricing</a>
          <a href="" class="footer__link">Compare ManageCasa</a>
          <a href="" class="footer__link">Customer Reviews</a>
        </div>

        <!-- Resources column -->
        <div class="footer-prim-col">
          <h4 class="footer-prim-col__title">Resources</h4>
          <a href="" class="footer__link">Help Center</a>
          <a href="" class="footer__link">Articles</a>
          <a href="" class="footer__link">FAQ</a>
          <a href="" class="footer__link">Pricing</a>
        </div>

        <!-- About ManageCasa column -->
        <div class="footer-prim-col">
          <h4 class="footer-prim-col__title">About<span class="hide-mob"> ManageCasa</span></h4>
          <a href="" class="footer__link">About the company</a>
          <a href="" class="footer__link footer__link_nest">Values</a>
          <a href="" class="footer__link footer__link_nest">News & press</a>
          <a href="" class="footer__link">Management Team</a>
          <a href="" class="footer__link">Careers</a>
          <a href="" class="footer__link">News & Press</a>
          <a href="" class="footer__link">Affiliate Partners</a>
          <a href="" class="footer__link">Referral Program</a>
        </div>

        <!-- Contact us column -->
        <div class="footer-prim-col">
          <h4 class="footer-prim-col__title">Contact us</h4>
          <address class="contact-info">
            ManageCasa Inc.<br>
            44 Tehama St,<br>
            San Fransisco,<br>
            CA 94105
            <div class="contact-title">Talk to Sales:</div>
            <a href="" class="footer__link">1-800-998-6627</a>
          </address>

          <div class="contact-title">Talk to Support:</div>
          <a href="" class="footer__link footer__link_colored">Sign in</a>
        </div>

      </div>
      <div class="footer-sec">
        <p>ManageCasa mission statement… rutrum placerat mi consectetur finibus. Aliquam varius placerat lectus, id suscipit erat pharetra a. Ut at sapien eu eros euismod porttitor. Fusce tincidunt, est eu egestas tincidunt, lacus ipsum posuere ligula, non bibendum ipsum at purus.</p>
        <!-- socials -->
        //= social-box.html


        <div class="add-info">
          <div class="copyright-info">ManageCasa®© 2018</div>
          <!-- terms, privacy, sitemap -->
          <div class="sec-links">
            <a href="" class="footer__link footer__link_colored">Terms</a>
            <a href="" class="footer__link footer__link_colored">Privacy</a>
            <a href="" class="footer__link footer__link_colored">Site Map</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>