<div class="trends-box">
  <img src="../images/trendHeaderImage@2x.png" class="trends-box__image">
  <div class="trends-box__wrapper">
    <h3 class="trends-box__title">Property Management Trends</h3>
    <ul class="trend-menu">
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Property Management Software</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Choosing Property Software</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Cloud Property Software</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Property Management Apps</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">On Demand Property Management</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Property Accounting Software</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Property Management Goals</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Multifamily Forecast</a>
      </li>
      <li class="trend-menu__item">
        <a href="" class="trend-menu__link">Rental Property Market</a>
      </li>
    </ul>
  </div>
</div>