<div class="topics-box">
  <div class="topics-box__title-wrapper">
    <h3 class="topics-box__title">Article Categories</h3>
    <a href="" class="topics-box__title-link topic-menu__link">See All »</a>
  </div>
  <ul class="topic-menu">
    <li class="topic-menu__item">
      <a href="" class="topic-menu__link">All</a>
    </li>
    <li class="topic-menu__item">
      <a href="" class="topic-menu__link">Accounting</a>
    </li>
    <li class="topic-menu__item">
      <a href="" class="topic-menu__link">Contractor</a>
    </li>
    <li class="topic-menu__item">
      <a href="" class="topic-menu__link">HOA</a>
    </li>
    <li class="topic-menu__item">
      <a href="" class="topic-menu__link">Homeowner</a>
    </li>
    <li class="topic-menu__item">
      <a href="" class="topic-menu__link">Insurance</a>
    </li>
  </ul>
</div>