<div class="h-menu-box"><!-- add .open -->
    <nav class="h-main-menu-box">
        <ul class="h-main-menu unstyled">
            <li class="h-main-menu__item">
                <a href="pages/benefits.html" class="h-main-menu__link">Benefits</a>
            </li>

            <li class="h-main-menu__item">
                <a href="#" id="features" data-toggle="dropdown" class="h-main-menu__link dropdown">
                    <span>Features</span>
                    <i class="dropdown__icon"></i>
                </a>
                <div class="dropdown-menu" data-dropdown="features"> <!-- add .open -->
                    <div class="dropdown__list">
                        <div class="big-menu">
                            <div class="big-menu__row big-menu__row--col">
                                <div class="big-menu__icon">
                                    <a href="#" class="big-menu__link big-menu__link--no-padding big-menu__link--bold">All-in-one
                                        Solution</a>
                                    <p class="big-menu__description">Mauris auctor aliquam condimentum</p>
                                </div>
                                <a href="#" class="big-menu__btn">See a demo</a>
                            </div>
                            <div class="big-menu__row">
                                <a href="#"
                                   class="big-menu__link big-menu__link--bold big-menu__link--circle big-menu__link--circle-orange">Starter</a>
                                <a href="#"
                                   class="big-menu__link big-menu__link--bold big-menu__link--circle big-menu__link--circle-blue">SMB</a>
                                <a href="#"
                                   class="big-menu__link big-menu__link--bold big-menu__link--circle big-menu__link--circle-black">Mid
                                    Market / Enterprise</a>
                            </div>
                            <div class="big-menu__row big-menu__row--two-column">
                                <a href="#" class="big-menu__link big-menu__link--icon big-menu__link--house">Residential</a>
                                <a href="#"
                                   class="big-menu__link big-menu__link--icon big-menu__link--marina">Marina</a>
                                <a href="#" class="big-menu__link big-menu__link--icon big-menu__link--commercial">Commercial</a>
                                <a href="#" class="big-menu__link big-menu__link--icon big-menu__link--associations">Associations</a>
                                <a href="#" class="big-menu__link big-menu__link--icon big-menu__link--storage">Self-Storage</a>
                            </div>
                            <div class="big-menu__row big-menu__row--two-column">
                                <a href="#" class="big-menu__link">Owners</a>
                                <a href="#" class="big-menu__link">Support</a>
                                <a href="#" class="big-menu__link">Tenants & Leasing</a>
                                <a href="#" class="big-menu__link">Residential Portal</a>
                                <a href="#" class="big-menu__link">Accounting & Reporting</a>
                                <a href="#" class="big-menu__link">Owner Portal</a>
                                <a href="#" class="big-menu__link">Maintenance</a>
                                <a href="#" class="big-menu__link">Customer Website</a>
                                <a href="#" class="big-menu__link">File Storage</a>
                                <a href="#" class="big-menu__link">On/Offline Rent Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="h-main-menu__item">
                <a href="#" id="partner" data-toggle="dropdown" class="h-main-menu__link dropdown">
                    <span>Partner</span>
                    <i class="dropdown__icon"></i>
                </a>
                <div class="dropdown-menu" data-dropdown="partner"> <!-- add .open -->
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Partner dropdown link1</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Partner dropdown link2</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link">Partner dropdown link3</a>
                        </li>
                        <li class="dropdown__item dropdown__item_btn-inside">
                            <a href="#" class="btn">Partners button</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="h-main-menu__item">
                <a href="pages/pricing.html" class="h-main-menu__link">Pricing</a>
            </li>

            <li class="h-main-menu__item">
                <a href="pages/blog.html" class="h-main-menu__link">Blog</a>
            </li>

        </ul>
    </nav>

    <!-- lang menu -->
    <div class="h-lang-switcher-box">
        <ul class="h-lang-switcher unstyled">
            <li class="h-lang-switcher__item">
                <a href="#" id="langs" data-toggle="dropdown" class="h-lang-switcher__link dropdown">
                    <span class="lang lang_en">English</span>
                    <i class="dropdown__icon"></i>
                </a>
                <div class="dropdown-menu" data-dropdown="langs"> <!-- add .open -->
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link"><span class="lang lang_en">English</span></a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link"><span class="lang lang_de">Deutsche</span></a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link"><span class="lang lang_es">Español</span></a>
                        </li>
                        <li class="dropdown__item">
                            <a href="#" class="dropdown__link"><span class="lang lang_fr">Français</span></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <!-- auth menu -->
    <div class="h-auth-menu-box">
        <div class="h-auth-menu">
            <a href="#" class="btn btn--link">Login</a>
            <a href="#" class="btn">Sign Up</a>
        </div>
    </div>

</div>

<!-- menu open/close button-->
<div class="h-menu-toggle-box">
    <a href="#" class="h-menu-toggle"> <!-- add .open -->
        <i class="h-menu-toggle__inner">Menu toggle</i>
    </a>
</div>