<div class="iam-block">
  <div class="iam-info">
    <span class="iam-text">I am a</span>

    <div class="iam-dropdown-box">
      <div id="iam" data-toggle="dropdown" class="dropdown">
        <span class="iam-value">property manager</span>
        <i class="dropdown__icon"></i>
      </div>
      <div class="dropdown-menu" data-dropdown="iam"> <!-- add .open -->
        <ul class="dropdown__list" >
          <li class="dropdown__item">
            <a href="#" class="dropdown__link" data-value="homeowner">homeowner</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link" data-value="landlord">landlord</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link" data-value="property_manager">property manager</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link" data-value="tenant">tenant</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link" data-value="service_pro">service pro</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <form id="iam-button-form" action="#" class="iam-block__form" >
    <button class="btn" type="submit">Sign Up FREE</button>
  </form>

</div>