<div class="c-modal js-fade">
    filka durak
    <div class="c-modal__fade js-modal">
        <button class="c-modal__close js-close" data-modal="close">&#10005</button>
        <div class=" c-modal__main ">
            <div class="c-modal__media ">
                <img class="c-modal__media-img " src="images/info.svg " alt=" ">
            </div>
            <h2 class="c-modal__headline ">
                You might want to try a free account
            </h2>
            <p class="c-modal__descr ">
                Since you manage less than 50 units, you can take advantage of one of our free accounts. You can try out all the great features of ManageCasa and upgrade to a pro subscription anytime you’d like.
            </p>
            <div class="c-modal__links ">
                <a href="# " class="button button--blue ">Sign up for a Free Account</a>
                <a href="# " class="button button--transparent ">Get a Trial Demo Account</a>
            </div>
        </div>
        <footer class="c-modal__footer ">
            <p class="c-modal__footer-descr ">
                <span class="c-modal__footer-icon ">
                </span>If you have any questions, you can
                <a href="# " class="c-modal__footer-link ">
                    contact our
                    support team.
                </a>
            </p>
        </footer>
    </div>
</div>
<input type="text " class="myinput js-myinput " id="myInput " placeholder="Enter numder "