<!-- dive-in section -->
<section class="section section_dive-in">
  <div class="container">
    <div class="row2">
      <div class="row2__col row2__col_text row2__col_text-dive-in">
        <h3 class="section-title-prim">Ready to dive in?</h3>
        <p><strong>98%</strong> of customers say it’s easy to get set up</p>
        <a href="" class="btn btn--lg">Sign Up FREE</a>
      </div>
      <div class="row2__col row2__col_text row2__col_text-just-get">
        <h3 class="section-title-prim">Just getting your toes wet?</h3>
        <div class="btn-group-dive-in">
          <a href="" class="btn btn--lg">Request a demo</a>
          <a href="" class="btn btn--lg btn--link">See pricing</a>          
        </div>
      </div>
    </div>
  </div>
</section>