<div class="social-box">
  <ul class="social">
    <li class="social__item">
      <a target="_blank" href="" class="social__link social__link_fb" title="Facebook"></a>
    </li>
    <li class="social__item">
      <a target="_blank" href="" class="social__link social__link_tw" title="Twitter"></a>
    </li>
    <li class="social__item">
      <a target="_blank" href="" class="social__link social__link_in" title="LinkedIn"></a>
    </li>
    <li class="social__item">
      <a target="_blank" href="" class="social__link social__link_inst" title="Instagram"></a>
    </li>
    <li class="social__item">
      <a target="_blank" href="" class="social__link social__link_yt" title="Youtube"></a>
    </li>
  </ul>
</div>