.el-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;

  li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 24px;
    color: $c-text;
    font-family: $font-base;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &:before {
      content: "•";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }
  }

  &--stepCounter {
    counter-reset: get-start-counter;
    margin-left: 16px;
    margin-top: 48px;

    li {
      counter-increment: get-start-counter;
      padding-left: 55px;
      padding-top: 9px;
      height: 72px;
      overflow: auto;
      margin-bottom: 0;

      &:before {
        content: counter(get-start-counter);
        color: $c-cream-bg;
        font-family: $font-base;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        width: 40px;
        height: 40px;
        background-color: $c-red;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 0;
        top: 0;
      }
    }

    // mobile
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-top: 24px;
    }

  }

}

