.el-side-nav {
  @include listUnstyled;

  &__item {
    border-bottom: 1px solid $sidemenuSeparatorCol;
    padding: 18px 0;
    
    &:last-of-type {
      border-bottom-color: transparent;
    }
  }

  &__link {
    line-height: 1.5;

    &.active {
      color: $c-text-gray;
      cursor: default;

      &:focus {
        background: none;
        border-color: transparent;
      }

      &:active {
        text-decoration: none;
      }
    }
  }

  @media (min-width: ($md + 1)) and (max-width: $lg) {
    margin-left: 16px;
  }
}
