.el-topics {
  padding: 24px;
  border: 1px solid $c-text-blue;
  margin-bottom: 24px;
  background: $c-blue-bg;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__title {
    margin: 0;
    color: $c-text-gray;
    font-family: $font-base;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;

    &--margin {
      margin-bottom: 15px;
    }
  }

  &__link {
    line-height: 26px;
  }

  &__list {
    @include listUnstyled;
  }

  &__link {
    @include linkReset;
    @include link;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }

  .el-social {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .el-social__item {
    margin-right: 36px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  .el-social__link {
    color: $c-text-blue;
    &:before {
      font-size: 32px;
    }
    &:hover {
      color: $c-text-gray;
    }
  }
}

.topic-menu {
  
}

